.main-bio-title {
  margin: 70px 0 70px 0;
  background-color: #e0e0e0;
  /* background-color: #003569; */
  color: rgb(116, 116, 116);
  font-size: 2rem;
  padding: 30px 0 30px 0;
  width: 100%;
  position: relative;
}
.main-bio-title div {
  width: 100vw;
  z-index: -2;
  position: absolute;
  bottom: 0;
  left: calc(-50vw + 50%);
  background-color: #e0e0e0;
}
.bio-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: space-between;
}

.bio {
  position: relative;
  width: 47%;
  /* background-color: rgb(236, 236, 236); */
  background-color: #003569;
  /* margin:5% 2% 5% 5% ; */
  margin-bottom: 4%;
  height: 950px;
  overflow: hidden;
  border-radius: 20px;
  /* border-left: 8px solid #015fbe; */
}
.bio h1 {
  margin-left: 5%;
  color: white;
}

.bio-img {
  width: 100%;
  /* max-height: 300px; */
  /* border-radius: 20px; */
  object-fit: contain;
}

.bio-title {
  position: absolute;
  bottom: 0;
  /* left: 5%; */
  width: 100%;
  /* border-radius: 10px; */
  padding: 2%;
  /* margin: 0 auto; */
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
}

@media screen and (min-width: 300px) {
  .bio-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .bio {
    position: relative;
    width: 80%;
    /* margin:5% 2% 5% 5% ; */
    /* margin: 5% 1% 5% 1%; */
    max-height: 500px;
    /* overflow: hidden; */
    border-radius: 20px;
  }
  .main-bio-title div {
    height: 140px;
  }
}
@media screen and (min-width: 480px) {
  .main-bio-title div {
    height: 120px;
  }
}
@media screen and (min-width: 800px) {
}
@media screen and (min-width: 1034px) {
  .bio-container {
    flex-wrap: wrap;
    flex-direction: row;

    /* justify-content: center; */
    justify-content: space-between;
  }
  .bio {
    position: relative;
    width: 47%;
    /* margin:5% 2% 5% 5% ; */
    /* margin: 5% 1% 5% 1%; */
    max-height: 500px;
    /* overflow: hidden; */
    border-radius: 20px;
  }
}
@media screen and (min-width: 1366px) {
}
@media screen and (min-width: 1600px) {
}
