.war-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    /* background-color: lightgrey; */
  }
  .war-title {
    margin-bottom: 100px;
  }
  
  .war-title h1 {
    position: relative;
    font-size: 2.5em;
    font-weight: 700;
    width: 70%;
    /* height:120px; */
    margin-top: 60px;
    padding: 0 0 0 20px;
    border-left: 13px solid rgb(204, 0, 0);
    /* background-color: aquamarine; */
  }
  .war-title h1:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 13px solid #850000;
  }
  
  .war-map-container {
    margin-top: 100px;
    height: 200px;
    width: 297.324px;
    /* background-color: green; */
    /* background-image: url(/public/ua-map-grey.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; */
  }
  .war-map {
    height: 200px;
    /* background-color: violet; */
    position: relative;
    top: 30px;
    left: 30px;
  }
  
  @media screen and (min-width: 480px) {
  }
  @media screen and (max-width: 800px) {
  
  }
  @media screen and (max-width: 1024px) {
    .war-title h1 {
      width: 100%;
    }
    .war-map-container {
      display: none;
    }
    .war-map {
      display: none;
    }
    .war-title-container {
      display: block;
      position: relative;
    }
    
    .war-title-container::after {
      content: "";
      background-image: url(/public/img/ua-occumap-grey.png);
      background-repeat: no-repeat;
      background-position: center; /* Center the image */
      background-size:contain;
      opacity: 0.6;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    }
  }
  @media screen and (min-width: 1366px) {
  }
  @media screen and (min-width: 1600px) {
  }
  