header {
  /* background-color: lightgreen; */
}
.title-container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding-top: 20px;
  /* background-color: lightgrey; */
}
.title {
  margin-bottom: 100px;
}

.title h1{
  position: relative;
  font-size: 2.5em;
  font-weight: 700;
  width: 50%;
  /* height:120px; */
  margin-top: 60px;
  padding: 0 0 0 20px;
  border-left: 13px solid blue;
  /* background-color: aquamarine; */
}
.title h1:before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 13px solid #ffea00;
}

.map-container {
  margin-top: 100px;
  height: 200px;
  width: 297.324px;
  /* background-color: green; */
  background-image: url(/public/ua-map.png);
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  background-size: cover;

}
.map {
  height: 200px;
  /* background-color: violet; */
  position: relative;
  top: 30px;
  left: 30px;
  
}


@media screen and (min-width: 480px) {
    
}
@media screen and (min-width: 800px) {
    
}
@media screen and (min-width: 1024px) {
    
}
@media screen and (min-width: 1366px) {
    
}
@media screen and (min-width: 1600px) {
    
}