.help-title-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    /* background-color: lightgrey; */
  }
  .help-title {
    margin-bottom: 100px;
  }
  
  .help-title h1 {
    position: relative;
    font-size: 2.5em;
    font-weight: 700;
    width: 70%;
    /* height:120px; */
    margin-top: 60px;
    padding: 0 0 0 0px;
    /* border-left: 11px solid rgb(155, 155, 155); */
    /* background-color: aquamarine; */
  }
  /* .help-title h1:before {
    content: " ";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 13px solid #ffea00;
  } */
  .help-title h3 {
    font-size: 1.5rem;
  }
  .help-map {
    margin-top: 100px;
    height: 200px;
    width: 297.324px;
    /* background-color: green; */
    background-image: url(https://img.freepik.com/premium-vector/emblem-ukrainian-armed-forces_539065-65.jpg);
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: contain;
  }
  .help-map img{
    height: 200px;
    /* background-color: violet; */
    position: relative;
    top: 30px;
    left: 30px;
    opacity: 0.9;
  }
  
  @media screen and (max-width: 480px) {
  }
  @media screen and (max-width: 800px) {
    .help-title h1 {
      width: 100%;
    }
    .help-map {
      display: none;
    }
    .help-map img{
      display: none;
    }
    .help-title-container {
      display: block;
      position: relative;
    }
    
    .help-title-container::after {
      content: "";
      background-image:url(https://img.freepik.com/premium-vector/emblem-ukrainian-armed-forces_539065-65.jpg);
      background-repeat: no-repeat;
      background-position: center; /* Center the image */
      background-size:contain;
      opacity: 0.3;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;   
    }
    
  }
  @media screen and (max-width: 1224px) {
    .help-title h3 {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 1366px) {
  }
  @media screen and (max-width: 1600px) {
  }
  