
.title-container {
    display: flex;
  align-items: stretch;
  width: 1200px;
  margin: 0 auto;
}
.title {
    font-size: 80px;
    font-weight: 700;
    width: 40%;
    margin-top: 60px;
}

.map {
    position: relative;
    height: 200px;
}